[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PA Alternative Launcher
Comment=Launches, installs and updates Planetary Annihilation
Icon=/home/jarno/Projects/PAAlternativeLauncher/img/icon.png
TryExec=/usr/games/paalternativelauncher
Exec=/usr/games/paalternativelauncher
Keywords=Planetary Annihilation
Categories=Game;StrategyGame
