id ICON "img/icon.ico"

1 VERSIONINFO
FILEVERSION     0,5,1,0
PRODUCTVERSION  0,5,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "DeathByDenim"
      VALUE "FileDescription", "Alternative launcher for Planetary Annihilation"
      VALUE "FileVersion", "0.5.1"
      VALUE "InternalName", "paalternativelauncher"
      VALUE "OriginalFilename", "paalternativelauncher.exe"
      VALUE "ProductName", "PA Alternative Launcher"
      VALUE "ProductVersion", "0.5.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x1009, 1252
  END
END
